<configuration>

    <timestamp key="myTimestamp" datePattern="yyyy-MM-dd'_'HH-mm-ss.SSS"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <file>_logs/users-data-processor/${myTimestamp}.log</file>
        <encoder>
            <pattern>%-5level [%F:%L] %d{HH:mm:ss.SSS} %logger{36}%n - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <appender name="HubbubFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <file>_logs/users-data-processor/hubbub.${myTimestamp}.log</file>
        <encoder>
            <pattern>%-5level [%F:%L] %d{HH:mm:ss.SSS} %logger{36}%n - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>_logs/users-data-processor/hubbub.${myTimestamp}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="grayLog" class="biz.paluch.logging.gelf.logback.GelfLogbackAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <host>udp:graylog.hubbub.ai</host>
        <port>12201</port>
        <version>1.1</version>
        <facility>auth-app</facility>
        <extractStackTrace>true</extractStackTrace>
        <filterStackTrace>true</filterStackTrace>
        <mdcProfiling>true</mdcProfiling>
        <timestampPattern>yyyy-MM-dd HH:mm:ss,SSSS</timestampPattern>
        <maximumMessageSize>8192</maximumMessageSize>
        <includeFullMdc>true</includeFullMdc>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <pattern>%-5level [%F:%L] %d{HH:mm:ss.SSS} %logger{36}%n - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="hubbub" level="TRACE">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="HubbubFile"/>
    </logger>

    <logger name="dataprocessor" level="TRACE">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="HubbubFile"/>
    </logger>

    <logger level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="HubbubFile"/>
    </logger>
</configuration>